/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    /* body{
        background-color: red;
    } */
    .left-side {
        width: 18%;
    }
    .mystatus-bg .wrapper {
        top: 10%;
    }
    .main-body {
        width: 82%;
        margin-left: 18%;
    }
    /* about me */
    .icon-holder.education {
        top: 14%;
    }
    .icon-holder {
        left: 43.5%;
    }
    .timeline > li > .timeline-panel{
        width: 45%;
    }
    .navFixedBg ul.nav li a {
        padding: 18px 20px;
        color: #222;
    }
    .video-wrap {
        top: -36%;
        left: -36%;
        width: 200%;
        height: 200%;
    }
    .mystats-bg {
        height: 75%;
    } 
    .experience-blog-item-text {
        height: 345px;
    }
    .bg-opacity-img {
        height: 75%;
    }
    .lets-work-area {
        height: 50%;
    }

}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* body{
        background-color: green
    } */

    .left-side {
        width: 18%;
    }
    .main-body {
        width: 82%;
        margin-left: 18%;
    }
    .person-img-hide{
        display: none;
    }
    .parson-image {
        left: 50%;
        margin-left: -175px;
    }
    .menu-bar {
        margin-top: 20px;
    }
    .menu-bar ul li a {
        line-height: 40px;
    }
    .counter i {
        font-size: 40px;
    }
    .counter-up {
        font-size: 38px;
        line-height: 1.5;
    }
    .mystatus-bg .wrapper .count-text {
        font-size: 16px;
    }
    .counter {
        margin-bottom: 50px;
    }

    /* about me */
    .icon-holder.education {
        top: 13.5%;
    }
    .icon-holder {
        left: 0.5%;
    }

    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
        padding-top: 55px;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline li p.date, .timeline li p.date-inverted {
        left: 50%;
        font-weight: 400;
        margin: 10px 0 20px 80px;
        text-align: left;
        top: 0;
    }
    .timeline .experience-content {
        margin: 10px 0 0;
        text-align: left;
    }  
    /*-------------------------------*/


.hero-area {
    height: 100%;
}

.navbar-brand > img {
    height: 36px;
}

ul.nav li a {
    padding: 9px 16px;
    font-size: 15px;
}
.navFixedBg ul.nav li a {
    padding: 11px 16px;
}

header.navFixedBg .navbar-brand > img {
    height: 36px;
    margin-top: 3px;
}
ul.navbar-nav li a::before {
    bottom: -6px;
}
.navFixedBg a img.logo-white{
    height: 0;
    opacity: 0;
}
header.navFixedBg {
    height: 50px;
}
.hero-area-bg h2 {
    font-size: 36px;
    margin-bottom: 12px;
}
.counter ,.about-me-text-area,.form-area {
    margin-bottom: 50px;
}

.mystats-bg {
    height: 100%;
}


.experience-blog-item-text {
    height: 320px;
}

.bg-opacity-img {
    height: 68%;
}

.lets-work-area {
    height: 50%;
}

}

/* Mobile Layout: 767px. [ common code] */
@media only screen and (max-width: 767px) { 
    /* body{
        background-color: blue;
    } */
        /* .left-side is the original menu */
	.left-side {
		display:none;
    }
    .slicknav_menu,
	.hero-area .profile-img,
    .hero-area .degisnetion{
        display:block;
    }
    .typed{
        display: none;
    }
    .main-body {
        width: 100%;
        height: 100%;
        margin: 0%;
    }
    .what-i-do, .clints-slider, .person-img-hide{
        display: none;
    }
    /* menu */
    .slicknav_menu {
        position: fixed;
        z-index: 5;
        width: 100%;
        background-color: #111820;
        left: 0px;
        top: 0px;
    }
    
    .slicknav_menu .slicknav_btn {
        background: no-repeat;
    }
    
    .slicknav_menu .slicknav_btn:hover {
        border: none;
    }
    
    .slicknav_nav a:hover {
        border-radius: 0px;
        transition: .1s;
        border: none;
    }
    /* start */
    h1.my-name {
        font-size: 53px;
    }
    .counter i {
        font-size: 40px;
    }
    .counter-up {
        font-size: 40px;
        line-height: 1.5;
    }
    .mystatus-bg .wrapper .count-text {
        font-size: 20px;
    }
    .counter {
        margin-bottom: 30px;
    }
    .mystatus-bg {
        height: 70%;
    }
    .mystatus-bg .wrapper {
        height: 100%;
        top: 8%;
    }
    .portfolio-menu-area ul li {
        width: 130px;
        display: inline-block;
        margin: 0px;
    }
    .profile-img img {
        border-radius: 50%;
        width: 30%;
        height: auto;
        margin-bottom: 20px;
        border: 3px solid #c4a386;
    }
    .degisnetion {
        color: #fff;
        font-size: 24px;
    }
/*timeline*/
    .about-timeline-style .nav.nav-tabs, .about-box-style .nav.nav-tabs {
        max-width: 100%;
    }

    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
        padding-top: 55px;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline li p.date, .timeline li p.date-inverted {
        left: 50%;
        font-weight: 400;
        margin: 10px 0 20px 80px;
        text-align: left;
        top: 0;
    }
    .timeline .experience-content {
        margin: 10px 0 0;
        text-align: left;
    }
    .icon-holder.education {
        left: 1%;
        top: 8%;
    }
    .progressbar-wrap .col-xs-3 {
            width: 50%;
    }

    /*------------------------------*/
    .socila-icon-wrap a {
        width: 30px;
        height: 30px;
        margin: 2px;
    }
    .socila-icon-wrap i {
        height: 188%;
        font-size: 16px;
    }
    a.icon:hover i {
        margin-top: -29px;
    }

    .section-title {
        padding: 30px 0px;
    }
    .section-title h2 {
        font-size: 24px;
        font-weight: normal;
    }
    .section-title h2::before {
        width: 100px;
        margin-left: -50px;
    }
    .section-title h2::after {
        top: 89%;
    }

    .experience-blog-item-text {
        height: 320px;
    }

    .experience-blog-item::after {
        left: 14px;
        bottom: 0%;
    }
    .form-area {
        padding: 0px;
        margin-bottom: 0px;
    }
    .padding-bottom {
        padding-bottom: 50px;
    }
    .footer-1 .content {
        padding: 15px 0px;
    }
}

/* Wide Mobile Layout: 480px. [ override] */
@media only screen and (max-width: 480px) {
    /* body{
        background-color: orange;
    } */
    h1.my-name {
        font-size: 30px;
    }
    .degisnetion {
        font-size: 16px;
    }
    .hover-btn a {
        font-size: 16px;
    }
    .counter i {
        font-size: 30px;
    }
    .counter-up {
        font-size: 30px;
        line-height: 1;
    }
    .mystatus-bg .wrapper .count-text {
        font-size: 16px;
    }
    .mystatus-bg {
        height: 55%;
    }
    .mystatus-bg .wrapper {
        top: 10%;
    }
    .portfolio-area-wrapper .col-xs-6 {
        width: 100%;
    }
    .progressbar-wrap .col-xs-3, 
    .progressbar-wrap .col-xs-6 {
        width: 100%
    }
    .lets-work-area h1 {
        font-size: 25px;
        font-weight: normal;
    }
    .lets-work-area p {
        font-size: 14px;
    }
    .ancor-btn.let-work a {
        font-size: 14px;
    }
    /* about me */
    .icon-holder.education {
        top: 13.5%;
    }
    .icon-holder {
        left: 0.5%;
    }
}


@media only screen and (max-width: 425px) {
    /* body{
        background-color: violet;
    } */
    .icon-holder.education {
        top: 6.8%;
    }
}

@media only screen and (max-width: 375px) {
    /* body{
        background-color: violet;
    } */
    .icon-holder.education {
        top: 5.8%;
    }
}



/* extera small */
@media screen and (max-width: 320px) {
    body{
        background-color: yellow;
    }
    .timeline li p.date, .timeline li p.date-inverted {
        width: 135px;
    }
    .timeline li p.date, .timeline li p.date-inverted {
        font-size: 14px;
    }
    .nav-tabs > li {
        display: block;
        margin: 11px 29px;
    }
    .icon-holder.education {
        top: 11.5%;
    }
    .icon-holder {
        left: 0.5%;
    }

}