@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Muli:300,400,600');
 /* dip-color: 011423*/
 /* light-color: 0095eb*/
 /* light-color: ff0*/
 /*Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}
body {
    line-height: 1.8;
    font-size: 16px;
    color: #7e7e7e;
    font-family: 'Muli', sans-serif;
}
a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.hero-area .profile-img,
.hero-area .degisnetion{
    display: none;
}
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
.container{
    width: 100%;
}
html,body{
    width: 100%;
    height:100%;
}
.left-side {
    width: 16%;
    height: 100%;
    position: fixed;
    background-color: #011423;
    padding: 10px;
}
.degisnetion {
    text-align: center;
    font-size: 16px;
    color: yellow;
    text-transform: capitalize;
    margin-top: 10px;
}

.main-body {
    position: relative;
    width: 84%;
    height: 100%;
    margin-left: 16%;
}
.menu-bar ul {
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.menu-bar ul li a {
    display: block;
    color: #fff;
    border:none;
    line-height: 50px;
    text-decoration: none;
}

.menu-bar ul li a:hover {
    color: yellow;
    transition: .3s;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 5px;
}
.socila-icon-wrap:last-child {
    margin: 0px;
}

.socila-icon-wrap {
    overflow: hidden;
}
/* left side bar */
.left-side-bar .profile-img img {
    border-radius: 50%;
    border: 5px solid #ddd;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.slicknav_menu, .responsive-menu-bar {
	display:none;
}

/* ================================ */
.hero-area {
    width: 100%;
    height: 100%;
    background-image: url('../img/hero-area1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:  relative;
    height: 100%;
    width: 100%;
    overflow:  hidden;
    z-index: 1;
}
.hero-area:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(1, 20, 35,0.7);
    left: 0px;
    top: 0px;
    z-index: 2;
}

.hero-area .container, 
.hero-area .row, 
.hero-area .col-sm-6 {
    width: 102%;
    height: 100%;
  }

.hero-area-table{
    display: table;
    width: 100%;
    height: 100%;
}
.hero-area-table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align:  center;
    z-index: 3;
    position: relative;
}
h1.my-name {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 5px;
}

h1.my-name span {
    color: #ff0;
}
.hero-area-table h4,
.typed span.typed-cursor,
.hero-area-table h1,
.typed .type-here {
    color: #fff;
}
/*typed*/
    .typed .type-here ,.typed span.typed-cursor {
        font-size:  28px;
        font-weight: 300;
        display: inline-block;
    }
/*end*/

    /*button hover hire me*/
    .hover-btn {
        display: inline-block;
        margin: 20px 0px;
    }
    .hover-btn a {
        display: inline-block;
        border: 1px solid #fff;
        padding: 8px 25px;
        border-radius: 10px 0px 10px 0px;
        color: #fff;
        font-size: 18px;
        position: relative;
        z-index: 1;
    }

    .hover-btn a:before {
        content:  "";
        position:  absolute;
        width: 100%;
        height:  100%;
        background-color: #011423;
        border: 1px solid #0095eb;
        border-radius: 10px 0px 10px 0px;
        z-index: -2;
        left:  0px;
        top: 0px;
        transform: scaleX(0);
        transition: .3s;
    }

    a:hover:before {
        transform: scaleX(1);
    }

    a:hover {
        color: #ff0;
        border:1px solid transparent;
    }

/*button hover hire me (end)*/




/*...............................
 icon hober style start 
.....................................*/
.socila-icon-wrap a {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 8px 1px;
    overflow: hidden;
    margin: 2px;
    text-align: center;
}

.socila-icon-wrap i {
    color: #ffff00;
    display: block;
    width: 100%;
    height: 200%;
    font-size: 20px;
    line-height: 30px;
    transition: .3s;
}

a.icon:hover i {
    margin-top: -32px;
    color:#fff;
}

a.social-facebook:hover {
    background-color: #0666ef;
}

a.icon.social-twitter:hover {
    background-color: #2dd8de;
}

a.icon.social-pinterest:hover {
    background-color: #e61a1a;
}

a.icon.social-google-plus:hover {
    background-color: #ff6700;
}

a.icon.social-linkedin:hover {
    background-color: #3096b3;
}

a.icon.social-vimeo:hover {
    background-color: #20deb0;
}

/* end icon hover


/*=================================================
    Start about
================================================*/

/*about left site*/


/* image style*/
.parson-image img {
    transform: rotate(90deg);
    margin-top: 13%;
}


/*end image*/
.about-me-text-area {
  margin-bottom: 100px;
  color: #222;
}
.info {
    margin-top: 30px;
}
.ancor-btn {
    display: inline-block;
    margin: 30px 30px 0px 0px;
}
.ancor-btn a,.ancor-btn button[type="submit"]{
    display: inline-block;
    padding: 6px 30px;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid #011423;
    color: #222;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    z-index: 4;
    transition: all .4s;
    font-weight: bold;
    background: transparent;
}
.ancor-btn  a:before,.ancor-btn  button[type="submit"]:before{
    content: "";
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #011423;
    z-index: -11;
    opacity: 0;
    transition: all .4s;
}
.ancor-btn:hover a:before ,.ancor-btn:hover button[type="submit"]:before{
    left: 0%;
    opacity: 1;
}
.ancor-btn:hover a,.ancor-btn:hover button[type="submit"]{
    color: #ff0;
}
.ancor-btn.let-work a{
    border-color: #fff;
}
.ancor-btn.let-work a:before{
    background: none;
}


#about .icon-holder .tab-content-title {
    font-weight: bold;
    left: 50%;
    margin-left: 45px;
    position: absolute;
    top: 10px;
    font-size: 24px;
}
#about .icon-holder {
    height: 64px;
    position: relative;
    text-align: center;
}
#about .icon-holder i {
    left: 50%;
    margin-left: -32px;
    position: absolute;
    top: 0;
    border: 1px solid #011423;
    border-radius: 50%;
    color: #011423;
    font-size: 32px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 64px;
}

/*
   TIMELINE STYLE / .timeline
*/
.about-timeline-style .nav.nav-tabs{
    max-width: 666px;
    margin: 50px auto;
    border: none;
    text-align: center;
}

.nav-tabs > li {
  float: none;
  display: inline-block;
  margin-right: -7px;
}

.about-timeline-style .nav.nav-tabs > li a{
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #011423;
    border-radius: 2px;
    color: #333;
}
.about-timeline-style .nav.nav-tabs > li a:hover{
    background-color: #011423 !important;
    cursor: pointer;
    border: 1px solid #011423;
    color: #ff0 !important;
}

.about-timeline-style .nav.nav-tabs > li a span.tab-title{
    font-size: 18px;
    font-weight: bold;
}
.about-timeline-style .nav.nav-tabs > li.active a{
    background-color: #011423;
    color: #ff0;
}
.about-timeline-style .nav.nav-tabs > li.active a i{
    color: #ff0;
}

.timeline {
    list-style: none;
    margin: 0 0 50px;
    padding: 50px 0 0;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 4px;
    background-color: #011423;
    left: 50%;
    margin-left: -2px;
}
.timeline h4 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
}
.timeline h5 {
    color: #011423;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px;
}
.about-timeline-style .experience-content > p:last-child {
    margin: 0;
}
.timeline > li {
    margin: 0 0 50px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    background-color: #E6E7E9;
    width: 46%;
    float: left;
    border: 1px solid #E6E7E9;
    border-radius: 5px;
    padding: 30px;
    position: relative;
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -ms-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}
.timeline > li > .timeline-panel:hover {
    background-color: #fff; 
    border-color: #e5e5e5;
    box-shadow: 0 0 5px 1px rgba(62, 62, 62, 0.5);
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 25px;
    right: -16px;
    display: inline-block;
    border-color: transparent #E6E7E9;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    content: "";
}
.timeline > li > .timeline-panel:after {
    border-color: transparent #E6E7E9;
    border-style: solid;
    border-width: 14px 0 14px 14px;
    content: "";
    display: inline-block;
    position: absolute;
    right: -14px;
    top: 27px;
}
.timeline-left .experience-content {
    text-align: right;
}
.timeline > li > .timeline-badge {
    font-size: 16px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -26px;
    background-color: #011423;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-right > .timeline-panel {
    float: right;
}
.timeline > li.timeline-right > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 16px;
    left: -17px;
    right: auto;
}
.timeline > li.timeline-right > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline li p.date {
    color: #000;
    font-size: 18px;
    left: 50%;
    margin: 0 50px;
    position: absolute;
    text-align: left;
    top: 12px;
    width: 180px;
    border-bottom: 1px dotted;
    line-height: 1.48;
}
.timeline li p.date-inverted {
    color: #000;
    font-size: 18px;
    margin: 0 50px;
    position: absolute;
    right: 50%;
    text-align: right;
    top: 12px;
    width: 180px;
    border-bottom: 1px dotted;
    line-height: 1.48;
}
.icon-holder {
    position: absolute;
    left: 45.5%;
    top: 12%;
    border-bottom: 5px solid #011423;
    padding: 3px;
    color: #011423;
    font-weight: bold;
}
.icon-holder.education{
    top: 15%;
}
li.timeline-right:nth-child(1):hover .timeline-badge i {
    color: #ff0;
}

li.timeline-right:last-child:hover .timeline-badge i {
    color: #ff0;
}

li.timeline-left:hover .timeline-badge i {
    color: #ff0;
}

/*
|----------------------------------------------------------------------------
    7.3. SKILLS PROGRESSBAR / .progressbar
|----------------------------------------------------------------------------
*/
.progressbar-wrap > p {
    margin: 0 0 50px;
}
.progressbar-wrap .progressbar {
    margin: 0 0 50px;
}
.progressbar .circle {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}
.progressbar .circle > canvas {
    vertical-align: middle;
}
.progressbar .circle > div {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    left: 0;
    position: absolute;
    text-align: center;
    top: 46px;
    width: 100%;
}
.progressbar .circle > p {
    font-size: 20px;
    margin: 10px 0 0;
    font-weight: 700;
}





/*title section style*/
.padding-bottom {
  padding-bottom: 100px;
}
.section-title{
    padding: 30px 0px;
    text-align: center;
    display: block;
}

.section-title h2 {
  padding-bottom: 6px;
  position: relative;
  z-index: 1;
}
.section-title h2:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 120px;
  height: 2px;
  background-color: #011423;
  border-radius: 2px;
  margin-left: -60px;
}
.section-title h2:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 90%;
  width: 10px;
  height: 10px;
  background-color: #011423;
  border-radius: 2px;
  margin-left: -5px;
  transform: rotate(45deg);
}
/*=============================================
About End
============================================*/

/* what i do*/

.experience-blog-item-text h4, .experience-blog-item-text h4 + p {
  font-weight: normal;
  color: #333;
}

.experience-blog-item-text i {
  font-size: 45px;
  color: #011423;
  margin: 15px 0px;
}
.experience-blog-item{
    position: relative;
    z-index: 1;
}
.experience-blog-item:before,.experience-blog-item::after{
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background: #011423;
  opacity: 0;
  transition: .4s;
  z-index: 1;
}

.experience-blog-item:before {
  right: 0;
  top: 0;
}
.experience-blog-item::after {
    left: 0;
    bottom: 0;

}


.experience-blog-item-text {
    padding: 15px;
    text-align: center;
    height: 308px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 30px;
    position: relative;
    border-radius: 15px 0px 15px 0px;
    z-index: 0;
  }
.experience-blog-item-text:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #011423;
    opacity: .1;
    z-index: -1;
}
  
.experience-blog-item:hover:before,.experience-blog-item:hover:after{
    width: 100px;
    opacity: 1;
    z-index: 1;
}

.experience-blog-item:hover i{
    opacity: .7;
}
/* what i do End*/


/* mystatas start*/
.mystatus-bg{
    background: url(../img/mystatus_bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 45%;
    position: relative;
    z-index: 1;
}
.mystatus-bg:before{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    content: "";
    background:rgba(0,0,0,0.7);
    z-index: 2;
}
.mystatus-bg .wrapper {
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 17%;
}
.title-white h2{
    color: #fff;
}
.counter {
    text-align: center;
}

.counter i,.counter h2,.counter p{
    color: #fff;
}

.counter i{
    font-size: 60px;
    color: #ff0;
}

.counter i,.counter h2{
    margin-bottom: 15px;
}


.counter p{
    text-transform: uppercase;
}

/* mystatas start End*/


/* Clints reviews */

.bg-opacity-img{
    background-image: url(../img/clints-opacity-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 58%;
    position: relative;
    z-index: 1;
}
.bg-opacity-img:before{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    content: "";
    background:rgba(0,0,0,0.7);
    z-index: 1
}
.owl-carousel{
    z-index: 3;
}


.clint-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 50px;
}
.clint-img img {
  width: 100%;
  height: 100%;
}
.single-slider-item p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  line-height: 1.5;
}
.single-slider-item h4 {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.single-slider-item h4 span {
  display: block;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 11px;
}
.slider-happyclints-wrap .owl-dots div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  background: #fff;
}
.slider-happyclints-wrap .owl-dots {
  text-align: center;
  margin-top: 20px;
}
.slider-happyclints-wrap .owl-dot.active {
  background-color: #ff0;
}

/* Clints reviews End*/



/* Portfolio area start*/

    /*start mixit up*/
.portfolio-menu-area ul{
    list-style: none;
    padding: 0px;
    margin-bottom: 30px;
}
.portfolio-menu-area ul li{
    display: inline-block;
    padding: 8px 13px;
    cursor: pointer;
    font-size: 16px;
    color: #011423;
    text-transform: uppercase;
    position: relative;
    border:2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-radius: 5px;
}
.portfolio-menu-area ul li.mixitup-control-active{
    border:2px solid #011423;
    border-radius: 5px;
    background-color: #011423;
    color: #ff0;
}
.portfolio-menu-area ul li:before,.portfolio-menu-area ul li:after{
    content: "";
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: scaleX(0);
    height: 2px;
    background-color: #011423;
    transition: .4s;
}
.portfolio-menu-area ul li:before{
    left: 0px;
    top: 0px;
}
.portfolio-menu-area ul li:after{
    left: 0px;
    top: 100%;
}
.portfolio-menu-area ul li:hover:before,.portfolio-menu-area ul li:hover:after{
    opacity: 1;
    transform: scaleX(1);
}
.portfolio-menu-area ul li:hover{
    border-left: 2px solid #011423;
    border-right: 2px solid #011423;
}

.mixitup .col-md-4{
    margin-bottom: 15px;
}


.Responsive {
  width: 100%;
  height: 240px;
}

/*End mixit up*/

.a-image-wrapper {
  position: relative;
  z-index: 1;
}
.img-hover-link {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: -10px;
  z-index: 5;
  opacity: 0;
  transition: .4s;
}
.img-hover-link a i {
  display: inline-block;
  padding: 10px;
  color: #fff;
  font-size: 25px;
}
.img-hover-link a {
  display: inline-block;
}
.a-image-wrapper:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 2;
  opacity: 0;
  transition: .4s;
}
.a-image-wrapper:hover::after,.a-image-wrapper:hover .img-hover-link {
  opacity: 1;
}

.a-image-wrapper:hover .img-hover-link {
  margin-top: -20px;
}

.row.mixitup {
  min-height: 500px;
  min-height: 335px;
}
/* Portfolio area End*/

/* lets together*/
.lets-work-area{
    background-image: url(../img/lats-start.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 58%;
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
}
.lets-work-area:before{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    content: "";
    background:rgba(0,0,0,0.7);
    z-index: 2
}
.lets-work-area{
    display: flex;
    align-items: center;
}
.lets-work-area h1,.lets-work-area p,.lets-work-area a{
    color: #fff;
    position: relative;
    z-index: 3;
    margin-bottom: 10px;
}
.lets-work-area .ancor-btn{
    margin-top: 15px;
}
/* lets together(end)*/






/* contact Area Start*/
.form-area {
    padding: 35px;
    margin: 15px 0px;
}

.form-group label {
    color: #222;
    font-size: 20px;
}
.form-group input, .form-group textarea {
    border-radius: 0px;
    font-size: 20px;
}

.form-group input {
    height: 45px;
  }
  
.form-area button {
    border: none;
    background: no-repeat;
    padding: 11px;
    border: 1px dashed #555;
    color: #555;
    font-size: 20px;
  }
  .form-area button:hover {
    border: 2px dotted #222;
    padding: 10px;
    transform: border,padding;
  }
/* contact Area End*/

/* footer area Start*/
.footer-area{
    background-color: #011423;
}
.footer-area p {
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 50px 0px;
}
.about-me-text-area > p {
    padding-bottom: 10px;
    word-spacing: 5px;
    letter-spacing: 1px;
    border-bottom: 2px solid #EBEBEB;
    border-radius: 2px;
}

.footer-1 {
    border-bottom: 1px dashed #fff;
    overflow: hidden;
}
.footer-1 .content {
    text-align: center;
    padding: 50px 0px;
  }
.footer-1 .content p {
    padding: 0px;
}

.footer-1 .content i {
    color: #ff0;
    font-size: 30px;
}
.footer-area p span{
    color: #ff0;
}

/* footer area End*/

/*bottom to up button*/
.up{
position: fixed;
bottom: 20px;
right: 0px;
display: none;
z-index: 5;
}
.up a{
    text-decoration: none;
    display: inline-block;
    background-color: #011423;
    padding: 8px 15px;
    border-radius: 2px 0px 0px 2px;
}
.up a:hover{
    opacity: .5;
}

.up a i{
    color: #fff;
}


.counter-up {
    text-align: center;
  }
  .counter-up span {
    text-align: center;
    font-weight: bold;
  }
  .counter-up {
    font-size: 50px;
  }

/* ====================================== */
/* portfoli Filter */
/* ====================================== */
* {
    box-sizing: border-box;
  }
  
  /* Center website */
  .portfolio-area-wrapper .main {
    max-width: 1000px;
    margin: auto;
  }
  
  /* Create three equal columns that floats next to each other */
  .portfolio-area-wrapper .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }
  
  /* Content */
  .portfolio-area-wrapper .content {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
 .portfolio-area-wrapper  .show {
    display: block;
  }
  
  /* Style the buttons */
  .portfolio-area-wrapper .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .portfolio-area-wrapper .btn:hover {
    background-color: #ddd;
  }
  
 .portfolio-area-wrapper  .btn.active {
    background-color: #666;
    color: white;
  }